{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calenDO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'partials/navbar.html' %}
    <main class="container-fluid">
        {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Add event listeners to the "Edit" buttons in the item list
            const editButtons = document.querySelectorAll('.edit-item-button');
            editButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const itemId = this.getAttribute('data-item-id');
                    const itemName = this.getAttribute('data-item-name');
                    const itemType = this.getAttribute('data-item-type');
                    const itemNotes = this.getAttribute('data-item-notes');
    
                    // Populate the Edit Item Details Modal with the item's data
                    document.getElementById('editItemId').value = itemId;
                    document.getElementById('editItemName').value = itemName;
                    document.getElementById('editItemType').value = itemType;
                    document.getElementById('editItemNotes').value = itemNotes;
    
                    // Set the form action dynamically
                    document.getElementById('editItemForm').action = `/schedule/${itemId}/update-item/`;
                });
            });
        });
    </script>
</body>
</html>
