<!-- Export Schedule Modal -->
<div class="modal fade" id="exportScheduleModal" tabindex="-1" aria-labelledby="exportScheduleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportScheduleLabel">Select File Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>How would you like us to export your schedule?</p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action export-option" data-file-type="jpg">JPG: Image type that saves at a lower file size, but less quality</a>
                    <a href="#" class="list-group-item list-group-item-action export-option" data-file-type="png">PNG: Image type that saves at a higher file size, but better quality</a>
                    <a href="#" class="list-group-item list-group-item-action export-option" data-file-type="pdf">PDF: Document type</a>
                </div>
            </div>
        </div>
    </div>
</div>
