<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003366;" sticky-top shadow">
    <div class="container-fluid">
      <!-- Brand Name -->
      <a class="navbar-brand fw-bold me-3" href="#">
        <i class="bi bi-calendar3"></i> calenDO
      </a>
  
      <!-- Toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse d-flex flex-row-reverse p-2" id="navbarNav">
        <!-- Search bar -->
        <form class="d-flex me-3">
            <div class="input-group">
              <input class="form-control rounded-start" type="search" placeholder="Search in site" aria-label="Search">
              <button class="btn btn-light" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        <!-- Navigation links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link" href="/">
              <i class="bi bi-house-door"></i> Dashboard
            </a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="/calendar/">
              <i class="bi bi-calendar"></i> Calendar
            </a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="/todo/">
              <i class="bi bi-list-task"></i> To-Do Lists
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
