<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - My Planner</title>
    <style>
        
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="logo">My Planner</div>
        <div class="nav-links">
            <a href="{% url 'calendo-dashboard' %}" class="{% if request.path == '/' %}active{% endif %}">Dashboard</a>
            <a href="{% url 'calendar' %}" class="{% if request.path == '/calendar/' %}active{% endif %}">Calendar</a>
            <a href="{% url 'todo_index' %}" class="{% if request.path == '/todo/' %}active{% endif %}">To-Do Lists</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search in site">
            <button>Search</button>
        </div>
    </div>

</body>
</html>
