<div class="modal fade" id="sortModal" tabindex="-1" aria-labelledby="sortModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sortModalLabel">Sort Tasks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="sortAscBtn" class="btn btn-primary">Sort by Due Date (Ascending)</button>
                <button id="sortDescBtn" class="btn btn-secondary">Sort by Due Date (Descending)</button>
                <button id="sortSectionAscBtn" class="btn btn-primary mt-2">Sort Sections A-Z</button>
                <button id="sortSectionDescBtn" class="btn btn-secondary mt-2">Sort Sections Z-A</button>
            </div>
        </div>
    </div>
</div>